.container {
	padding-top: 150px;

}

.thumbnail {
	box-shadow: 0px 5px 25px #888888;
}

.login {
	padding-top: 10px;
	text-align: center;
	top: 50%;
	font-family: futura;
	font-size: 35px;
	color: grey;
}

.user-input {
	height: 30px;
	width: 300px;
	display:block;
    margin:auto;

}

.input-instruction{
	padding-left: 10%;
	font-family: futura;
}

.forgot-password {
	color: lightblue;
	text-align: center;
	font-size: 10px;
	padding-top: 10px;
}

.login-button {
	display:block;
    margin:auto;
    font-family: futura;
    height: 50px;
	width: 200px;
	background-color: lightblue;
}

.button-container{
	padding-top: 15px;
}