#container {
	margin-top: 50px;
}

#container > * {
	border-width: 8px;
	border-style: solid;
	width: 500px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 9px;
}

#div-1 {
	border-color: red;
}

#div-2 {
	border-color: green;
}

#div-3 {
	border-color: purple;
}

#div-4 {
	border-color: yellow;
}

#div-3 {
	border-color: blue;
}

/*Try positioning using top, left, etc.*/
h2 {
	position: absolute;
	
}