@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h2, button, div {
	font-family: 'Roboto Mono', monospace;
}

#sec-2 {
	display: none;
}

#sec-3 {
	display: none;
}

.key {
	text-transform: uppercase;
	font-size: 450px;
}

.message, .highscore {
	font-size: 50px;
}

.score {
	font-size: 30px;
}

button {
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	background-color: white;
	border: none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 8px;
}

button:active {
	outline: none;
	background-color: #D6D6D6;
}
button:focus {
	outline: none;
}